<div class="about-container">
  <div class="about-header">
    <div class="row fill">
      <div class="col col-xs-12 middle-xs center-xs about-bg">
        <h1 class="about-header-title">About</h1>
      </div>
    </div>
  </div>

  <div class="body-container">
    <p class="body-p">Metagene Health empowers individuals to live a healthier lifestyle. We strive to motivate individuals to achieve their goals of superior mental, physical, emotional spiritual health & wellness.</p>

    <p class="body-p">We are PASSIONATE. We LOVE UNCONDITIONALLY.
      <br>
      We SURVIVED tragedy and continue to LEARN our LESSONS. <br>
      We meet hurdles with a WARRIOR SPIRIT and RISE TRIUMPHANT.
      <br>
      We are TRIBE. We THRIVE on INDIVIDUALITY.
      <br>
      We are NOT SHEEP. We are LIONS.
      <br>
      We live life UNAPOLOGETICALLY.
      <br>
      We VENTURE through our fears COURAGEOUSLY.
      <br>
      We are SEEKERS on a journey to CONNECT WITH OUR TRUE POTENTIAL.
      <br>
      We are METAGENE HEALTH</p>

    <p class="body-p">About the Founder
      <br>
      Johnny Gomez:
      <br>
      <a class="body-a" href="https://www.linkedin.com/in/metagenehealth/">https://www.linkedin.com/in/metagenehealth/</a></p>

    <p class="body-p">Inspired by his experiences as an Avid Soul-Seeker, Global Traveler, and Passionate Adventurist, Johnny empowers individuals to discover and implement habits that will improve their lives, self-esteem, and/or career. He promotes evolution of your 4-Body system (Mind/Body/Spirit/Emotion) through fitness, nutrition, essential oils, crystal work, community outreach, and mindful meditation.</p>

    <p class="body-p">Growing up with a stern religious background, Johnny began to develop a solid spiritual foundation of knowledge and understanding of the Divine Creator. As a single parent raising 2 children, Johnny’s mother instilled a strong sense of commitment and dedication to God through the teachings of the bible and religion. The religion taught that salvation would only be afforded to those who joined and lived life based on its dogmatic lifestyle. Johnny reaped many blessings growing up in his childhood religion. At the age of 8, he (along with mother & brother) had the privilege to serve as missionaries in Ecuador for 10 months.</p>

    <p class="body-p">Johnny committed his early adult life to religion: learning, observing, evangelizing, and all the while praying for discernment. His prayers were answered, leading him to a crossroad that would soon present a crisis of conscience.</p>

    <p class="body-p">Through prayer and exhaustive research, Johnny began to organically expand his consciousness to ideas that conflicted with the dogma and teachings of his childhood religion. Some ideas included:</p>
    
    <ul class="body-ul">
      <li class="body-li">Based on his understanding of how Jesus walked, God’s mercy and salvation are inclusive to all walks of life, regardless of race/creed/sexual preference/religious affiliation</li>
      <li class="body-li">Universal Truth is unwavering/unchanged/unclaimable by any one person/group/organization</li>
      <li class="body-li">Unconditional Love of the Divine Creator is free and available to all people, regardless of your color/religious affiliation/sexual preference</li>
    </ul>

    <p class="body-p">This newly-adopted consciousness had its costs. His conviction to what he believed to be ‘The Truth’ cost him childhood friendships, connection to a religious community that raised him from boyhood, and most importantly, his close relationship with his mother who he dearly adores to this day. He continues to reflect on his sacrifices and uses them as fuel to drive his purpose toward the eternal quest: seeking, applying, and educating others on Universal Truth.</p>

    <p class="body-p">His quest for Universal Truth, thirst for adventure, and passion for travel quickly propelled him on a soul-seeking journey that continues to this day. Mahatma Ghandi advised us to “Be the change that you wish to see in this world.”</p>
  </div>

  <div class="partners-header">
    <div class="row fill">
      <div class="col col-xs-12 middle-xs center-xs">
        <h1 class="partners-header-title">Partners</h1>
      </div>
    </div>
  </div>

  <div class="body-container">
    <p class="body-p">Metagene Health is excited to partner with a number of passionate, like minded individuals who promote community outreach and personal development</p>

    <div class="partners-logo-display">
      <div class="partners-logo">
        <img src="assets/images/born2flylogo.png" alt="born2fly">
      </div>
      <div class="partners-logo">
        <img src="assets/images/jonathangreyelogo.png" alt="jonathangreye">
      </div>
      <div class="partners-logo">
        <img src="assets/images/grassrootslogo.png" alt="grassrootskavahouse">
      </div>
    </div>

  </div>

<div class="connection">
  <div class="row fill">
    <div class="col col-xs-12 middle-xs center-xs connection-bg">
      <h1 class="connection-title">Let's build a connection</h1>
      <p class="connection-body">Amazing things happen when passionate minds join forces toward a common goal.
      <br> 
      If you have ideas on promoting community outreach and personal development, let’s connect! 
      <br>
      Feel free to reach out and share your project Idea.</p>
      <div class="action connection-action">
        <a class="button" routerLink="/contact">Learn More</a>
      </div>
    </div>
  </div>
</div>

</div>
  