.about-container {
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

/* Header */

.about {
    width: 100%;
    height: 232px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
  }
  
.about .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/about-header-bg-min.jpg");
    background-size: cover;
    background-position: center 0;
}

.about .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content h1 {
    font-family: 'Sansation';
    color: #fff;
    font-size: 42px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .about {
        height: 480px;
    }
    .about .content h1 {
        font-size: 100px;
    }
}

/* Main Content */

.content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.content p, .content li, .content p a {
    color: rgb(59, 59, 59);
    font-size: 16px;
    line-height: 1.806;
    font-family: 'Avenir';
    padding: 24px 0;
}

.content li {
    font-size: 14px;
}

.content p a {
    font-size: 12px;
}

.content ul {
    max-width: 900px;
}

@media only screen and (min-width: 800px) {
    .content {
        padding: 24px 80px;
    }
    .content p, .content li, .content p a {
        font-size: 24px;
    }
}

/* Partners */

.partners {
    width: 100%;
    height: 100%;
}

.partners .header {
    background-color: #3c2556;
    width: 100%;
    height: 232px;
    margin: 64px 0;
}

.partners .header-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners .header-text h1 {
    font-family: 'Sansation';
    color: #fff;
    font-size: 32px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.partners-logo-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 512px;
    margin: 80px auto;
}

.partners .logo {
    width: 100%;
    margin: 80px 0;
    padding: 0 16px;
}

.partners .logo img {
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .partners .header-text h1 {
        font-size: 72px;
    }
    .content p, .content li, .content p a {
        font-size: 24px;
    }
}

/* Connection */

.connection {
    width: 100%;
    height: 100%;
    margin-top: 64px;
}

.connection .header {
    background-color: #3c2556;
    width: 100%;
    height: 480px;
}

.connection .header .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/connection-bg-min.jpg");
    background-size: cover;
    background-position: center 0;
}

.connection .header-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.connection .header-text h1 {
    font-family: 'Sansation';
    color: #fff;
    font-size: 24px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0 16px;
}

.connection .header-text p {
    font-size: 14px;
    font-family: 'Avenir';
    color: #fff;
    line-height: 2;
    text-align: center;
    padding: 0 16px;
}

.connection .header-text a {
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 32px;
    border: 2px solid #fff;
    margin: 24px 0;
    transition: all 150ms ease;
}

.connection .header-text a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 800px) {
    .connection .header-text h1 {
        font-size: 62px;
    }
    .connection .header-text p {
        font-size: 20px;
    }
}
