<div class="alkeme-container">
  <div class="alkeme">
    <div class="bg">
      <div class="content">
        <h1>Alkemé</h1>
      </div>
    </div>
  </div>
  <div class="content">
    <p>Synthesis of masculine and feminine energies to manifest divine creation. 'Totality lies beyond Duality'. Experience activation of Universal Love guided by Metagene Health & Divine Frequency.</p>
  </div>

  <div class="events">
    <div class="content">
      <h1>Upcoming Events</h1>
    </div>
  </div>

  <div class="content">
    <p>Metagene Health is excited to partner with a number of passionate, like minded individuals who promote community outreach and personal development.</p>
  </div>

  <div class="event content">
    <div class="row">
      <div class="col">
        <div class="bg"></div>
      </div>
      <div class="col">
        <div class="event-details">
          <p><strong>Name:</strong> Universal Love Activation</p>
          <p><strong>Date:</strong> TBD</p>
          <p><strong>Location:</strong> TBD</p>
          <br><br>
          <p><strong>Description:</strong> Sacred Geometry | Universal Love Activation | Meditation</p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="footer">
      <div class="footer-text">
          <p>COPYRIGHT 2017 | ALL RIGHTS RESERVED</p>
      </div>
    </div>
</div>