.alkeme-container {
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

/* Header */

.alkeme {
    width: 100%;
    height: 232px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
  }
  
.alkeme .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/alkeme/alkeme-bg-min.jpg");
    background-size: cover;
    background-position: center 0;
}

.alkeme .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alkeme .content h1 {
    font-family: 'Sansation';
    color: #fff;
    font-size: 42px;
    letter-spacing: 6px;
    font-weight: bold;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .alkeme {
        height: 480px;
    }
    .alkeme .content h1 {
        font-size: 100px;
    }
}

/* Main Content */

.content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.content p, .content li, .content p a {
    color: rgb(59, 59, 59);
    font-size: 16px;
    line-height: 1.806;
    font-family: 'Avenir';
    padding: 24px 0;
}

.content li {
    font-size: 14px;
}

.content p a {
    font-size: 12px;
}

.content ul {
    max-width: 900px;
}

@media only screen and (min-width: 800px) {
    .content {
        padding: 24px 80px;
    }
    .content p, .content li, .content p a {
        font-size: 24px;
    }
}

/* Upcoming Events */


.events {
    background-color: #3c2556;
    width: 100%;
    height: 232px;
    margin: 64px 0;
}

.events .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events .content h1 {
    font-family: 'Sansation';
    color: #fff;
    font-size: 32px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.event {
    width: 100%;
    height: 400px;
    margin: 80px auto 120px auto;
    padding: 0 16px;
}

.event .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/alkeme/event-bg-min.jpg");
    background-size: cover;
    background-position: center 0;
    max-width: 400px;
    margin: 0 auto;
}

.event .event-details {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 20%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.event .row {
    flex-wrap: wrap;
}

.event .col {
    width: 100%;
    height: 50%;
}

.event-details p {
    margin: 0;
    padding: 0;
}


@media only screen and (min-width: 800px) {
    .events .content h1 {
        font-size: 72px;
    }
    .content p, .content li, .content p a {
        font-size: 24px;
    }
    .event .row {
        flex-wrap: nowrap;
    }
    .event .col {
        height: 100%;
        width: 50%;
    }
    .event .bg {
        max-width: 100%;
    }
}