<div class="alkeme-container">
  <div class="alkeme-header">
    <div class="row fill">
      <div class="col col-xs-12 middle-xs center-xs alkeme-bg">
        <h1 class="alkeme-header-title">Alkemé</h1>
      </div>
    </div>
  </div>

  <div class="body-container">
    <p class="body-p">Synthesis of masculine and feminine energies to manifest divine creation. 'Totality lies beyond Duality'. Experience activation of Universal Love guided by Metagene Health & Divine Frequency.</p>
  </div>

  <div class="events-header">
    <div class="row fill">
      <div class="col col-xs-12 center-xs middle-xs">
        <h1 class="events-header-title">Upcoming Events</h1>
      </div>
    </div>
  </div>

  <div class="body-container">
    <p class="body-p">Metagene Health is excited to partner with a number of passionate, like minded individuals who promote community outreach and personal development.</p>
  

  <div class="event-row">
    <div class="row fill">
      <div class="col col-xs-12 col-sm-6 event-bg">
      </div>
      <div class="event-details col col-xs-12 col-sm-6 center-xs middle-xs padding">
        <p class="event-details-p"><strong>Name:</strong> Universal Love Activation</p>
        <p class="event-details-p"><strong>Date:</strong> TBD</p>
        <p class="event-details-p"><strong>Location:</strong> TBD</p>
        <br><br>
        <p class="event-details-p"><strong>Description:</strong> Sacred Geometry | Universal Love Activation | Meditation</p>
      </div>
    </div>
  </div>

</div>
    
