<div class="contact-container">

  <div class="contact-header">
    <div class="row fill">
      <div class="col col-xs-12 middle-xs center-xs contact-bg">
        <h1 class="contact-title">Contact</h1>
      </div>
    </div>
  </div> 

  <div class="body-container">
    <div class="row fill">
      <div class="col col-xs-12 col-sm-6">
        <p class="body-p contact-p">We’re dedicated to serving you and your needs. Drop us a line!</p>
      </div>
      <div class="col col-xs-12 col-sm-6">
        <div class="contact-social row fill">
          <div class="col col-xs-4 center-xs middle-xs">
            <a href="https://www.instagram.com/metagenehealth/" class="contact-social-link">
                <i class="fa fa-instagram"></i>
            </a>
          </div>
          <div class="col col-xs-4 center-xs middle-xs">
            <a href="https://www.facebook.com/metagenehealth/" class="contact-social-link">
                <i class="fa fa-facebook-official"></i>
            </a>
          </div>
          <div class="col col-xs-4 center-xs middle-xs">
            <a href="https://www.youtube.com/channel/UCd-TiVrblAM0Vw-Z9oXfaUg" class="contact-social-link">
                <i class="fa fa-youtube-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <input [(ngModel)]="firstName" type="text" name="firstName" placeholder="First Name">
    <input [(ngModel)]="email" type="text" name="email" placeholder="Email Address">
    <textarea [(ngModel)]="message" rows="10" type="text" name="message" placeholder="Message..."></textarea>
    <div class="form-action">
        <a (click)="submit()" class="submit">Submit</a>
    </div>
    

  </div>
</div>