<div class="contact-container">
  <div class="contact">
    <div class="bg">
      <div class="content">
        <h1>Contact</h1>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col">
        <p>We’re dedicated to serving you and your needs. Drop us a line!</p>
      </div>
      <div class="col">
        <div class="social">
            <a href="" class="social-link">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="" class="social-link">
              <i class="fa fa-facebook-official"></i>
            </a>
            <a href="" class="social-link">
              <i class="fa fa-youtube-play"></i>
            </a>
        </div>
      </div>
    </div>
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="email" placeholder="Email Address">
    <textarea rows="10" type="text" name="message" placeholder="Message..."></textarea>
    <div class="form-action">
        <a href="" class="submit">Submit</a>
    </div>
    

  </div>

  <div class="footer">
      <div class="footer-text">
          <p>COPYRIGHT 2017 | ALL RIGHTS RESERVED</p>
      </div>
    </div> 
</div>