.contact-container {
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

/* Header */

.contact {
    width: 100%;
    height: 232px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
  }
  
.contact .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/contact/contact-bg-min.jpg");
    background-size: cover;
    background-position: center 0;
}

.contact .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .content h1 {
    font-family: 'Sansation';
    color: #fff;
    font-size: 42px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .contact {
        height: 480px;
    }
    .contact .content h1 {
        font-size: 100px;
    }
}

/* Main Content */

.content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.social {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .row {
    flex-wrap: wrap;
}

.content .col {
    height: 50%;
    width: 100%;
}

.social-link {
    margin: 0 12px;
    padding: 8px;
}

.social i {
    font-size: 24px;
    color: #5bd0da;
}

@media only screen and (min-width: 600px) {
    .content .row {
        flex-wrap: nowrap;
    }
    .content .col {
        height: 100%;
        width: 50%;
    }
    .social {
        justify-content: flex-end;
    }
    .social i {
        font-size: 42px;
    }
    .social-link {
        padding: 12px;
    }
}

@media only screen and (min-width: 1120px) {
    .social i {
        font-size: 60px;
    }
    .social-link {
        padding: 24px;
    }
}


.content p, .content li, .content p a {
    color: rgb(59, 59, 59);
    font-size: 16px;
    line-height: 1.806;
    font-family: 'Avenir';
    padding: 24px 0;
    max-width: 600px;
}

.content li {
    font-size: 14px;
}

.content p a {
    font-size: 12px;
}

.content ul {
    max-width: 900px;
}

@media only screen and (min-width: 800px) {
    .content {
        padding: 24px 80px;
    }
    .content p, .content li, .content p a {
        font-size: 32px;
    }
}

/* Form */

input, textarea {
    font-size: 24px;
    border: 2px solid #b0b2b3;
    color: #b0b2b3;
    font-family: 'Gill Sans';
    padding: 12px;
    width: 100%;
    background-color: transparent;
    outline: 0;
    transition: all 150ms ease;
    margin: 12px 0;
}

input::placeholder, textarea::placeholder {
    font-size: 16px;
    color: #b0b2b3;
    text-transform: uppercase;
    letter-spacing: 6px;
}

input:focus {
    border: 2px solid #6b4d8f;
}

.form-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 12px 80px;
}

.submit {
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #6b4d8f;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 80px;
    border: 2px solid #6b4d8f;
    margin: 24px 0;
    transition: all 150ms ease;
}

.submit:hover {
    color: #fff;
    background-color: #6b4d8f;
}

@media only screen and (min-width: 800px) {
    input::placeholder, textarea::placeholder {
        font-size: 24px;
    }
    input, textarea {
        font-size: 24px;
        padding: 24px;
        margin: 24px 0;
    }
}
