.services-container {
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

/* Header */

.services {
    width: 100%;
    height: 232px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
  }
  
.services .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/services/services-bg-min.jpg");
    background-size: cover;
    background-position: center 0;
}

.services .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .content h1 {
    font-family: 'Sansation';
    color: #fff;
    font-size: 42px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .services {
        height: 480px;
    }
    .services .content h1 {
        font-size: 100px;
    }
}

/* Main Content */

.content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.content h2 {
    font-family: 'Avenir';
    font-size: 18px;
    letter-spacing: 4px;
    color: #7b65ad;
}

.content p, .content li, .content p a {
    color: rgb(59, 59, 59);
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Avenir';
    padding: 24px 0;
}

.content li {
    font-size: 14px;
}

.content p a {
    font-size: 12px;
}

.content ul {
    max-width: 900px;
}

@media only screen and (min-width: 800px) {
    .content {
        padding: 24px 80px;
    }
    .content p, .content li, .content p a {
        font-size: 24px;
    }
    .content .service h2 {
        font-size: 32px;
    }
}

.content .service {
    margin: 64px 0;
}

.content .service p, .content .service h2 {
    padding: 0;
    margin: 0;
    max-width: 800px;
}

/* Distributors */

.distributors {
    margin: 64px 12px;
}

.distributors .col {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.distributors .logo {
    width: 50%;
    height: 100%;
}

.distributors .logo img {
    width: 100%;
}

/* Partners */

.packages {
    background-color: #3c2556;
    width: 100%;
    height: 232px;
    margin: 64px 0;
}

.packages .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.packages .content h1 {
    font-family: 'Sansation';
    color: #fff;
    font-size: 32px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* Packages */

/* Apprentice */

.apprentice {
    width: 100%;
    height: 600px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
}

.apprentice .row {
    flex-wrap: wrap;
}

.apprentice .col {
    height: 50%;
    width: 100%;
}

.apprentice .col.top {
    order: 1;
}

.apprentice .col.bottom {
    order: 2;
}

.apprentice .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/services/apprentice-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.apprentice .content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apprentice .content h3 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 0 16px;
    margin: 0;
}



.apprentice .content p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Avenir';
    color: #fff;
    line-height: 2;
    max-width: 464px;
    text-align: center;
    margin: 0;
}


.apprentice .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    border-right: 0;
    border-bottom: 0;
    margin: 24px 0;
    transition: all 150ms ease;
}

.apprentice .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 360px) {
    .apprentice .content p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .apprentice .row {
        flex-wrap: nowrap;
    }
    .apprentice .col {
        height: 100%;
        width: 50%;
    }
    .apprentice .col.top {
        order: 2;
    }
    .apprentice .col.bottom {
        order: 1;
    }
    .apprentice .content p {
        font-size: 16px;
    }
    .apprentice .content h3 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1120px) {
    .apprentice .content h3 {
        font-size: 72px;
    }
    .apprentice .content p {
        font-size: 24px;
    }
    .apprentice .content a {
        font-size: 16px;
        padding: 16px 48px;
    }
}

/* Master */

.master {
    width: 100%;
    height: 600px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
}

.master .row {
    flex-wrap: wrap;
}

.master .col {
    height: 50%;
    width: 100%;
}

.master .col.top {
    order: 1;
}

.master .col.bottom {
    order: 2;
}

.master .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/services/master-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.master .content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.master .content h3 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 0 16px;
    margin: 0;
}



.master .content p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Avenir';
    color: #fff;
    line-height: 2;
    max-width: 464px;
    text-align: center;
    margin: 0;
}


.master .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    border-right: 0;
    border-bottom: 0;
    margin: 24px 0;
    transition: all 150ms ease;
}

.master .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 360px) {
    .master .content p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .master .row {
        flex-wrap: nowrap;
    }
    .master .col {
        height: 100%;
        width: 50%;
    }
    .master .col.top {
        order: 2;
    }
    .master .col.bottom {
        order: 1;
    }
    .master .content p {
        font-size: 16px;
    }
    .master .content h3 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1120px) {
    .master .content h3 {
        font-size: 72px;
    }
    .master .content p {
        font-size: 24px;
    }
    .master .content a {
        font-size: 16px;
        padding: 16px 48px;
    }
}

/* Metta */

.metta {
    width: 100%;
    height: 600px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
}

.metta .row {
    flex-wrap: wrap;
}

.metta .col {
    height: 50%;
    width: 100%;
}

.metta .col.top {
    order: 1;
}

.metta .col.bottom {
    order: 2;
}

.metta .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/services/metta-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.metta .content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.metta .content h3 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 0 16px;
    margin: 0;
}



.metta .content p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Avenir';
    color: #fff;
    line-height: 2;
    max-width: 464px;
    text-align: center;
    margin: 0;
}


.metta .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    border-right: 0;
    border-bottom: 0;
    margin: 24px 0;
    transition: all 150ms ease;
}

.metta .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 360px) {
    .metta .content p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .metta .row {
        flex-wrap: nowrap;
    }
    .metta .col {
        height: 100%;
        width: 50%;
    }
    .metta .col.top {
        order: 2;
    }
    .metta .col.bottom {
        order: 1;
    }
    .metta .content p {
        font-size: 16px;
    }
    .metta .content h3 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1120px) {
    .metta .content h3 {
        font-size: 72px;
    }
    .metta .content p {
        font-size: 24px;
    }
    .metta .content a {
        font-size: 16px;
        padding: 16px 48px;
    }
}

