<div class="services-container">
    <div class="services">
      <div class="bg">
        <div class="content">
          <h1>Services</h1>
        </div>
      </div>
    </div>
    <div class="content">
      <p>Thank you for taking the steps toward improving your well-being. Please review our list of services offered at the Metagene Health Center. You can expect treatments to feel like a wonderful glowing radiance that flows through and around you. Reiki & ThetaHealing® treat the whole person including body, emotions, mind and spirit creating many beneficial effects that include relaxation and feelings of peace, security and wellbeing. Many have reported miraculous results.</p>
      
      <p>Reiki & ThetaHealing® are simple, natural and safe methods of spiritual healing and self-improvement that everyone can use. Both modalities have been effective in helping virtually every known illness and malady and always creates a beneficial effect.</p>

      <div class="service">
        <h2>Reiki & ThetaHealing®</h2>
        <p>Work in conjunction with all other medical or therapeutic techniques to relieve side effects and promote recovery.</p>
      </div>

      <div id="theta-healing" class="service">
        <h2>One on one ThetaHealing®</h2>
        <p>ThetaHealing® fits into the mind/body therapies as a complementary or alternative health modality. Both therapeutic and self-help, it aims to assist with physical, spiritual and emotional well-being. ThetaHealing® practitioners enter a theta brainwave state in a matter of seconds. <br><br>Because it creates a close connection with the creative source of the universe and a powerful ability to work with the subconscious, ThetaHealing® practitioners are able to connect with this energy and manifest dramatic physical and emotional changes in their clients, promoting healing at the core quantum level of their being. It is in this theta brainwave state that beliefs are changed and downloaded into the person.</p>
      </div>

      <div id="reiki" class="service">
        <h2>One on one Reiki</h2>
        <p>Reiki is a Japanese technique for stress reduction and relaxation that also promotes healing. It is administered by "laying on hands" and is based on the idea that an unseen "life force energy" flows through us and is what causes us to be alive. <br><br>The great value of Reiki is that because it is guided by the Higher Intelligence, it knows exactly where to go and how to respond to restrictions in the flow of Ki. It can work directly in the unconscious parts of the mind/body which contain negative Ki-inhibiting thoughts and feelings and eliminate them. As Reiki flows through a sick or unhealthy area, it breaks up and washes away any negative thoughts or feelings lodged in the unconscious mind/body thus allowing a normal healthy flow of Ki to resume. As this happens, the unhealthy physical organs and tissues become properly nourished with Ki and begin functioning in a balanced healthy way thus replacing illness with health.</p>
      </div>

      <div id="meta-session" class="service">
        <h2>One on one META Session</h2>
        <p>META Session combines the key elements of ThetaHealing® & Reiki into a single hybrid session for higher levels of healing. Accelerate beyond ordinary with this experience.</p>
      </div>

      <div id="distance-healing" class="service">
        <h2>Distance Reiki/ThetaHealing®</h2>
        <p>Reiki & ThetaHealing® both allow the ability to have your session performed remotely via phone/facetime/skype. This is a helpful option for travelers or ones who live out-of-state.</p>
      </div>

      <div id="essential-oils" class="service">
        <h2>Essential Oils</h2>
        <p>Pure essential oils are revolutionizing the way families manage their health. They harness nature's most powerful elements. Essential oils can be used for a wide range of emotional and physical wellness applications. They can be used as single essential oils or in complex essential oil blends depending on user experience and desired benefit.</p>
      </div>

      <p>Metagene Health is a Licensed doTERRA® & Young Living® Distributor. Contact us for pricing or if you are interested in becoming a distributor.</p>

      <div class="distributors">
        <div class="row">
          <div class="col">
            <div class="logo"><img src="assets/images/services/doterralogo.png" alt="doterra"></div>
          </div>
            <div class="col">
              <div class="logo"><img src="assets/images/services/younglivinglogo.png" alt="youngliving"></div>
            </div>
          
        </div>
      </div>

    </div>
    
    <div class="packages">
      <div class="content">
          <h1>Packages</h1>
      </div>
    </div>
    <div class="content">
        <p>By investing in multiple sessions, you are giving yourself the opportunity to begin a transformational journey of healing that will bring you closer to living in alignment with who you really are underneath all of the pain. Think of it as continual maintenance for your personal well-being.</p>      
      </div>

      <div class="apprentice">
        <div class="row">
          <div class="col">
            <div class="content">
              <h3>Apprentice</h3>
              <p>1 - 60 minute Reiki Session
                <br>1 - 60 minute ThetaHealing®
                <br>Session Price: $111</p>
            </div>
          </div>
          <div class="col">
            <div class="bg">
            </div>
          </div>
          
        </div>
      </div>

      <div class="master">
        <div class="row"> 
          <div class="col bottom">
            <div class="bg">
            </div>
          </div>
          <div class="col top">
            <div class="content">
              <h3>Master</h3>
              <p>2 - 60 minute Reiki Session
              <br>2 - 60 minute ThetaHealing®
              <br>Session Price: $222</p>
            </div>
          </div>
          
        </div>
      </div>

      <div class="metta">
        <div class="row">
          <div class="col">
            <div class="content">
              <h3>Metta</h3>
              <p>2 - 90 minute Metta Session
                <br>2 - 60 minute Reiki
                <br>Session Price: $333</p>
            </div>
          </div>
          <div class="col">
            <div class="bg">
            </div>
          </div>
          
        </div>
      </div>
    
      
    <div class="footer">
        <div class="footer-text">
            <p>COPYRIGHT 2018 | ALL RIGHTS RESERVED</p>
        </div>
      </div>  
    </div>