<div class="navbar">
  <div class="navbar-inner">
    <div class="navbar-inner_left">
      <div class="logo">
        <img src="assets/logo/metalogo.png">
      </div>
    </div>
    <div class="navbar-inner_right">
      <div class="nav-links">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a>
        <a href="" class="nav-link">Services</a>
        <a href="" class="nav-link alkeme">Alkemé</a>
        <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
        <a href="" class="nav-link">META DATA</a>
        <a href="" class="nav-link">Contact</a>
      </div>
    </div>
  </div>
</div>