<div class="navbar">
  <div class="navbar-inner">
    <div class="navbar-inner_left">
      <div class="logo">
        <ng-container *ngIf="router.url =='/'">
          <a href="#">
            <img src="assets/logo/metalogo.png">
          </a>
        </ng-container>
        <ng-container *ngIf="router.url !='/'">
        <a routerLink="/">
          <img src="assets/logo/metalogo.png">
        </a>
        </ng-container>
      </div>
    </div>
    <div class="navbar-inner_right">
      <div class="nav-links">
        <ng-container *ngIf="router.url =='/'">
          <a href="#" class="nav-link">Home</a>
        </ng-container>
        <ng-container *ngIf="router.url !='/'">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="nav-link">Home</a>
        </ng-container>
        <a routerLink="/services" routerLinkActive="active" class="nav-link">Services</a>
        <a routerLink="/alkeme" routerLinkActive="active" href="" class="nav-link alkeme">Alkemé</a>
        <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
        <a routerLink="/blog" class="nav-link">META DATA</a>
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
      </div>
      <div class="mobile">
        <div (click)="toggleMenu()" id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="mobile-nav" class="mobile-nav">
          <ng-container *ngIf="router.url =='/'">
            <a (click)="toggleMenu()" href="#" class="nav-link">Home</a>
          </ng-container>
          <ng-container *ngIf="router.url !='/'">
            <a (click)="toggleMenu()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a>
          </ng-container>
          <a (click)="toggleMenu()" routerLink="/services" routerLinkActive="active" class="nav-link">Services</a>
          <a (click)="toggleMenu()" routerLink="/alkeme" class="nav-link alkeme">Alkemé</a>
          <a (click)="toggleMenu()" routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
          <a (click)="toggleMenu()" routerLink="/blog" class="nav-link">META DATA</a>
          <a (click)="toggleMenu()" routerLink="/contact" class="nav-link">Contact</a>
      </div>
      
    </div>
  </div>
</div>