.home-container {
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

/* Hero */

.hero {
    width: 100%;
    height: 480px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
  }
  
.hero .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/home/home-header-bg-min.jpg");
    background-size: cover;
    background-position: center 0;
}

.hero .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero .content h1 {
    font-family: 'Sansation';
    color: #fff;
    font-size: 24px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 160px 0 0 0;
}

.hero .content h2 {
    font-family: 'Gill Sans';
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 300;
    margin: 12px 0 0 0;
}

.hero .content a {
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 48px;
    border: 2px solid #fff;
    margin: 24px 0;
    transition: all 150ms ease;
}

.hero .content a:hover {
    color: #3c2556;
    background-color: #fff;
}



@media only screen and (min-width: 1120px) {
    .hero {
        height: 664px;
    }
    .hero .content h1 {
        font-size: 60px;
    }
    .hero .content h2 {
        font-size: 30px;
    }
    .hero .content a {
        margin: 64px 0;
    }
}

/* E-book */

.ebook {
    background-color: #5bd0da;
    width: 100%;
    height: 336px;
    transition: all 150ms ease;
}

.ebook .content {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ebook .content h3 {
    font-size: 14px;
    font-family: 'Gill Sans';
    color: #fff;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 24px 0;
}
  
.ebook .content p {
    font-size: 16px;
    text-align: center;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
}

.ebook .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    margin: 24px 0;
    transition: all 150ms ease;
}

.ebook .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 1120px) {
    .ebook {
        height: 336px;
    }
    .ebook .content h3 {
        font-size: 20px;
    }
    .ebook .content p {
        font-size: 32px;
    }
    .ebook .content a {
        font-size: 16px;
        padding: 16px 48px;
    }
}

/* Metagene Health */

.metahealth {
    width: 100%;
    height: 480px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
}

.metahealth .row {
    flex-wrap: wrap;
}

.metahealth .col {
    height: 50%;
}

.metahealth .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.metahealth .content h3 {
    font-family: 'Sansation';
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #da5b93;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.metahealth .content p {
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Gill Sans';
    color: #fff;
    line-height: 1.5;
    max-width: 464px;
    text-align: center;
}

.metahealth .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/home/metahealth-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 600px) {
    .metahealth .row {
        flex-wrap: nowrap;
    }
    .metahealth .col {
        height: 100%;
    }
    .metahealth .content {
        padding: 0 32px;
        align-items: flex-start;
    }
    .metahealth .content h3, .metahealth .content p {
        text-align: left;
    }
    .metahealth .content h3 {
        font-size: 24px;
    }
    .metahealth .content p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1120px) {
    .metahealth .content {
        padding: 0 20%;
    }
    .metahealth .content h3 {
        font-size: 32px;
    }
    .metahealth .content p {
        font-size: 24px;
    }
}

/* Services */

.services {
    background-color: #3c2556;
    width: 100%;
    height: 232px;
}

.services .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.services .content h2 {
    font-size: 42px;
    letter-spacing: 6px;
    font-family: 'Sansation';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 1120px) {
    .services .content h2 {
        font-size: 72px;
    }
}

/* Reiki */

.reiki {
    width: 100%;
    height: 600px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
}

.reiki .row {
    flex-wrap: wrap;
}

.reiki .col {
    width: 100%;
    height: 50%;
}

.reiki .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/home/reiki-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.reiki .bg .content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reiki .bg .content h3 {
    font-size: 42px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 16px;
}

.reiki .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15%;
}

.reiki .content p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Gill Sans';
    color: #fff;
    line-height: 1.5;
    max-width: 464px;
    text-align: left;
}

.reiki .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    margin: 24px 0;
    transition: all 150ms ease;
}

.reiki .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 360px) {
    .reiki .content p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .reiki .row {
        flex-wrap: nowrap;
    }
    .reiki .col {
        height: 100%;
        width: 50%;
    }
    .reiki .content {
        padding: 0 15%;
        align-items: flex-start;
    }
    .reiki .content p {
        font-size: 16px;
    }
    .reiki .bg .content h3 {
        font-size: 60px;
    }
}

@media only screen and (min-width: 1120px) {
    .reiki .bg .content h3 {
        font-size: 100px;
    }
    .reiki .content p {
        font-size: 24px;
    }
    .reiki .content a {
        font-size: 16px;
        padding: 16px 48px;
    }
}

/* Theta Healing */

.theta {
    width: 100%;
    height: 600px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
}

.theta .row {
    flex-wrap: wrap;
}

.theta .col {
    height: 50%;
    width: 100%;
}

.theta .col.top {
    order: 1;
}

.theta .col.bottom {
    order: 2;
}

.theta .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/home/theta-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.theta .bg .content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theta .bg .content h3 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 16px;
}

.theta .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15%;
}

.theta .content p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Gill Sans';
    color: #fff;
    line-height: 1.5;
    max-width: 464px;
    text-align: left;
}

.theta .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    border-right: 0;
    border-bottom: 0;
    margin: 24px 0;
    transition: all 150ms ease;
}

.theta .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 360px) {
    .theta .content p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .theta .row {
        flex-wrap: nowrap;
    }
    .theta .col {
        height: 100%;
        width: 50%;
    }
    .theta .col.top {
        order: 2;
    }
    .theta .col.bottom {
        order: 1;
    }
    .theta .content {
        padding: 0 15%;
        align-items: flex-start;
    }
    .theta .content p {
        font-size: 16px;
    }
    .theta .bg .content h3 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1120px) {
    .theta .bg .content h3 {
        font-size: 72px;
    }
    .theta .content p {
        font-size: 24px;
    }
    .theta .content a {
        font-size: 16px;
        padding: 16px 48px;
    }
}

/* Distance Healing */

.distance {
    width: 100%;
    height: 600px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
}

.distance .row {
    flex-wrap: wrap;
}

.distance .col {
    height: 50%;
    width: 100%;
}

.distance .col.top {
    order: 1;
}

.distance .col.bottom {
    order: 2;
}

.distance .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/home/distance-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.distance .bg .content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.distance .bg .content h3 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 16px;
}

.distance .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15%;
}

.distance .content p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Gill Sans';
    color: #fff;
    line-height: 1.5;
    max-width: 464px;
    text-align: left;
}

.distance .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    margin: 24px 0;
    transition: all 150ms ease;
}

.distance .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 360px) {
    .distance .content p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .distance .row {
        flex-wrap: nowrap;
    }
    .distance .col {
        height: 100%;
        width: 50%;
    }
    .distance .col.top {
        order: 2;
    }
    .distance .col.bottom {
        order: 1;
    }
    .distance .content {
        padding: 0 15%;
        align-items: flex-start;
    }
    .distance .content p {
        font-size: 16px;
    }
    .distance .bg .content h3 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1120px) {
    .distance .bg .content h3 {
        font-size: 72px;
    }
    .distance .content p {
        font-size: 24px;
    }
    .distance .content a {
        font-size: 16px;
        padding: 16px 48px;
    }
}

/* Meta Sessions */

.sessions {
    width: 100%;
    height: 600px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
}

.sessions .row {
    flex-wrap: wrap;
}

.sessions .col {
    height: 50%;
    width: 100%;
}

.sessions .col.top {
    order: 1;
}

.sessions .col.bottom {
    order: 2;
}

.sessions .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/home/sessions-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.sessions .bg .content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessions .bg .content h3 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 16px;
}

.sessions .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15%;
}

.sessions .content p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Gill Sans';
    color: #fff;
    line-height: 1.5;
    max-width: 464px;
    text-align: left;
}

.sessions .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    border-right: 0;
    border-bottom: 0;
    margin: 24px 0;
    transition: all 150ms ease;
}

.sessions .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 360px) {
    .sessions .content p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .sessions .row {
        flex-wrap: nowrap;
    }
    .sessions .col {
        height: 100%;
        width: 50%;
    }
    .sessions .col.top {
        order: 2;
    }
    .sessions .col.bottom {
        order: 1;
    }
    .sessions .content {
        padding: 0 15%;
        align-items: flex-start;
    }
    .sessions .content p {
        font-size: 16px;
    }
    .sessions .bg .content h3 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1120px) {
    .sessions .bg .content h3 {
        font-size: 72px;
    }
    .sessions .content p {
        font-size: 24px;
    }
    .sessions .content a {
        font-size: 16px;
        padding: 16px 48px;
    }
}


/* Essential Oils */

.oils {
    width: 100%;
    height: 600px;
    background-color: #6b4d8f;
    transition: all 150ms ease;
}

.oils .row {
    flex-wrap: wrap;
}

.oils .col {
    height: 50%;
    width: 100%;
}

.oils .col.top {
    order: 1;
}

.oils .col.bottom {
    order: 2;
}

.oils .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/home/oils-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.oils .bg .content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oils .bg .content h3 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 16px;
}

.oils .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15%;
}

.oils .content p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Gill Sans';
    color: #fff;
    line-height: 1.5;
    max-width: 464px;
    text-align: left;
}

.oils .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    margin: 24px 0;
    transition: all 150ms ease;
}

.oils .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 360px) {
    .oils .content p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .oils .row {
        flex-wrap: nowrap;
    }
    .oils .col {
        height: 100%;
        width: 50%;
    }
    .oils .col.top {
        order: 2;
    }
    .oils .col.bottom {
        order: 1;
    }
    .oils .content {
        padding: 0 15%;
        align-items: flex-start;
    }
    .oils .content p {
        font-size: 16px;
    }
    .oils .bg .content h3 {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1120px) {
    .oils .bg .content h3 {
        font-size: 72px;
    }
    .oils .content p {
        font-size: 24px;
    }
    .oils .content a {
        font-size: 16px;
        padding: 16px 48px;
    }
}

/* Upcoming Events */

.events {
    width: 100%;
    height: 336px;
    transition: all 150ms ease;
}

.events .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/home/events-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.events .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.events .content h3 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 0;
}

.events .content p {
    font-size: 18px;
    font-family: 'Gill Sans';
    text-align: center;
    color: #fff;
    margin: 0;
}

.events .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    margin: 24px 0;
    transition: all 150ms ease;
}

.events .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 600px) {
    .events .content h3 {
        font-size: 42px;
    }
    .events .content p {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1120px) {
    .events .content h3 {
        font-size: 100px;
    }
    .events .content p {
        font-size: 40px;
    }
    .events {
        height: 600px;
    }
    .events .content a {
        font-size: 16px;
        padding: 16px 48px;
        margin: 64px 0;
    }
}

/* Social */

.social {
    width: 100%;
    height: 120px;
    background-color: #5bd0da;
}

.social i {
    font-size: 64px;
    color: #fff;
    transition: all 150ms ease;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.social-link:hover i {
    transform: scale(1.5);
}

.social .instagram {
    width: 100%;
    height: 100%;
    background-color: #5bd0da;
}

.social .facebook {
    width: 100%;
    height: 100%;
    background-color: #48bdc7;
}

.social .youtube {
    width: 100%;
    height: 100%;
    background-color: #38a9b3;
}

@media only screen and (min-width: 600px) {
    .social {
        height: 180px;
    }
    .social i {
        font-size: 80px;
    }
}

@media only screen and (min-width: 1120px) {
    .social {
        height: 300px;
    }
    .social i {
        font-size: 164px;
    }
}

.question {
    width: 100%;
    height: 300px;
    transition: all 150ms ease;
}

.question .bg {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/home/question-bg-min.jpg");
    background-size: cover;
    background-position: center;
}

.question .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question .content h3 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 0;
}

.question .content p {
    font-size: 18px;
    font-family: 'Gill Sans';
    text-align: center;
    color: #fff;
    margin: 0;
}

.question .content a {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Gill Sans';
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border: 2px solid #fff;
    margin: 24px 0;
    transition: all 150ms ease;
}

.question .content a:hover {
    color: #3c2556;
    background-color: #fff;
}

@media only screen and (min-width: 600px) {
    .question .content h3 {
        font-size: 42px;
    }
    .evequestionnts .content p {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1120px) {
    .question .content h3 {
        font-size: 100px;
    }
    .question .content p {
        font-size: 40px;
    }
    .question {
        height: 600px;
    }
    .question .content a {
        font-size: 16px;
        padding: 16px 48px;
        margin: 64px 0;
    }
}