<div id="home-container" class="home-container">
  <div class="hero">
    <div class="hero-bg">
      <div class="row fill">
        <div class="col col-xs-12 center-xs middle-xs">
        <h1 class="hero-headline">Connect with your true self</h1>
        <h2 class="hero-subheading">Expand Your Consciousness | Thrive On Individuality | Live Unapologetically
        </h2>
        <div class="action hero-action">
          <a class="button" routerLink="/services">Learn More</a>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="ebook">
    <div class="row fill">
      <div class="col col-xs-12 center-xs middle-xs">
        <h3 class="ebook-headline">Free ebook now available</h3>
        <p class="ebook-subheading">Tap into Your Creator Consciousness to Manifest the Life You Desire</p>
        <div class="action">
        <a class="button ebook-button" href="#">Download for free now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="metahealth">
    <div class="row fill">
      <div class="col metahealth-left center-xs middle-xs top-sm col-xs-12 col-sm-6">
        <h3 class="metahealth-title">This is Metagene Health</h3>
        <p class="metahealth-body">Welcome to Metagene Health! We are dedicated to serving as a light on your path toward personal development.</p>
      </div>
      <div class="metahealth-right metahealth-bg col-xs-12 col-sm-6">
      </div>
    </div>
  </div>

  <div class="home-services-header">
    <div class="row fill middle-xs center-xs">
      <h2 class="home-services-headline">Services</h2>
    </div>
  </div>

  <div class="home-services-row">
    <div class="row fill">
      <div class="reiki-bg col center-xs middle-xs col-xs-12 col-sm-6">
        <h3 class="reiki-headline">Reiki</h3>
      </div>
      <div class="col padding center-xs middle-xs top-lg col-xs-12 col-sm-6">
        <p class="home-services-body">Reiki is a Japanese technique for stress reduction and relaxation that also promotes healing. It is administered by "laying on the hands" and is based on the idea that an unseen "life force energy" flows through us and is what causes us to be alive.</p>
        <div class="action home-services-action">
          <a class="button" routerLink="/services" fragment="reiki">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-services-row">
    <div class="row fill">
      <div class="col padding center-xs middle-xs top-lg col-xs-12 col-sm-6">
        <p class="home-services-body">ThetaHealing® fits into the mind/body therapies as a complementary or alternative health modality. Both therapeutic and self-help, it aims to assist with physical, spiritual and emotional well-being.</p>
        <div class="action home-services-action">
          <a class="button" routerLink="/services" fragment="theta-healing">Learn More</a>
        </div>
      </div>
      <div class="first-xs last-sm theta-bg col center-xs middle-xs col-xs-12 col-sm-6">
        <h3 class="theta-headline">Theta Healing®</h3>
      </div>
    </div>
  </div>

  <div class="home-services-row">
    <div class="row fill">
      <div class="distance-bg col center-xs middle-xs col-xs-12 col-sm-6">
        <h3 class="distance-headline">Distance Healing</h3>
      </div>
      <div class="col padding center-xs middle-xs top-lg col-xs-12 col-sm-6">
        <p class="home-services-body">Reiki & ThetaHealing® both allow the ability to have your session performed remotely via phone/facetime/skype. This is a helpful option for travelers or ones who live out-of-state.</p>
        <div class="action home-services-action">
          <a class="button" routerLink="/services" fragment="distance-healing">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-services-row">
    <div class="row fill">
      <div class="col padding center-xs middle-xs top-lg col-xs-12 col-sm-6">
        <p class="home-services-body">META Session combines the key elements of ThetaHealing® & Reiki into a single hybrid session for higher levels of healing. Accelerate beyond ordinary with this experience.</p>
        <div class="action home-services-action">
          <a class="button" routerLink="/services" fragment="meta-sessions">Learn More</a>
        </div>
      </div>
      <div class="padding first-xs last-sm sessions-bg col center-xs middle-xs col-xs-12 col-sm-6">
        <h3 class="sessions-headline">Meta Sessions</h3>
      </div>
    </div>
  </div>

  <div class="home-services-row">
    <div class="row fill">
      <div class="sessions-bg col center-xs middle-xs col-xs-12 col-sm-6">
        <h3 class="oils-headline">Essential Oils</h3>
      </div>
      <div class="col padding center-xs middle-xs top-lg col-xs-12 col-sm-6">
        <p class="home-services-body">Pure essential oils are revolutionizing the way families manage their health. They harness nature's most powerful elements. Essential oils can be used for a wide range of emotional and physical wellness applications.</p>
        <div class="action home-services-action">
          <a class="button" routerLink="/services" fragment="essential-oils">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="events">
    <div class="row fill">
      <div class="events-bg col col-xs-12 middle-xs center-xs">
        <h3 class="events-headline">Upcoming Events</h3>
        <p class="events-subheading">Tap into upcoming events hosted by Metagene Health</p>
        <div class="action events-action">
          <a class="button"routerLink="/alkeme">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="social">
    <div class="row fill">
      <div class="col col-xs-4 instagram">
        <a href="https://www.instagram.com/metagenehealth/" class="social-link">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="col col-xs-4 facebook">
        <a href="https://www.facebook.com/metagenehealth/" class="social-link">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="col col-xs-4 youtube">
        <a href="https://www.youtube.com/channel/UCd-TiVrblAM0Vw-Z9oXfaUg" class="social-link">
          <i class="fa fa-youtube-play"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="question">
    <div class="row fill">
      <div class="question-bg col col-xs-12 middle-xs center-xs">
        <h3 class="question-headline">Have a question?</h3>
        <p class="question-subheading">We are happy to point you in the right direction. Feel free to reach out!</p>
        <div class="action question-action">
          <a class="button" routerLink="/contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

</div>