<div id="home-container" class="home-container">
  <div class="hero">
    <div class="bg">
      <div class="content">
        <h1>Connect with your true self</h1>
        <h2>Expand Your Consciousness | Thrive On Individuality | Live Unapologetically
        </h2>
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>

  <div class="ebook">
    <div class="content">
      <h3>Free ebook now available</h3>
      <p>Tap into Your Creator Consciousness to Manifest the Life You Desire</p>
      <a href="#">Download for free now</a>
    </div>
  </div>

  <div class="metahealth">
    <div class="row">
      <div class="col">
        <div class="content">
          <h3>This is Metagene Health</h3>
          <p>Welcome to Metagene Health! We are dedicated to serving as a light on your path toward personal development.</p>
        </div>
      </div>
      <div class="col">
        <div class="bg">
        </div>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="content">
      <h2>Services</h2>
    </div>
  </div>

  <div class="reiki">
    <div class="row">
      <div class="col">
        <div class="bg">
          <div class="content">
            <h3>Reiki</h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="content">
          <p>Reiki is a Japanese technique for stress reduction and relaxation that also promotes healing. It is administered by "laying on the hands" and is based on the idea that an unseen "life force energy" flows through us and is what causes us to be alive.</p>
          <a routerLink="/services" fragment="reiki">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="theta">
      <div class="row">
        <div class="col bottom">
          <div class="content">
            <p>ThetaHealing® fits into the mind/body therapies as a complementary or alternative health modality. Both therapeutic and self-help, it aims to assist with physical, spiritual and emotional well-being.</p>
            <a routerLink="/services" fragment="theta-healing">Learn More</a>
          </div>
        </div>
        <div class="col top">
          <div class="bg">
            <div class="content">
              <h3>Theta Healing®</h3>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="distance">
      <div class="row">
        <div class="col">
          <div class="bg">
            <div class="content">
              <h3>Distance Healing</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="content">
            <p>Reiki & ThetaHealing® both allow the ability to have your session performed remotely via phone/facetime/skype. This is a helpful option for travelers or ones who live out-of-state.</p>
            <a routerLink="/services" fragment="distance-healing">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="sessions">
      <div class="row">
        <div class="col bottom">
          <div class="content">
            <p>META Session combines the key elements of ThetaHealing® & Reiki into a single hybrid session for higher levels of healing. Accelerate beyond ordinary with this experience.</p>
            <a routerLink="/services" fragment="meta-sessions">Learn More</a>
          </div>
        </div>
        <div class="col top">
          <div class="bg">
            <div class="content">
              <h3>Meta Sessions</h3>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="oils">
      <div class="row">
        <div class="col">
          <div class="bg">
            <div class="content">
              <h3>Essential Oils</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="content">
            <p>Pure essential oils are revolutionizing the way families manage their health. They harness nature's most powerful elements. Essential oils can be used for a wide range of emotional and physical wellness applications.</p>
            <a routerLink="/services" fragment="essential-oils">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="events">
      <div class="bg">
        <div class="content">
          <h3>Upcoming Events</h3>
          <p>Tap into upcoming events hosted by Metagene Health</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>

    <div class="social">
      <div class="row">
        <div class="col">
          <div class="instagram">
            <a href="" class="social-link">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="facebook">
            <a href="" class="social-link">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="youtube">
            <a href="" class="social-link">
              <i class="fa fa-youtube-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="question">
      <div class="bg">
        <div class="content">
          <h3>Have a question?</h3>
          <p>We are happy to point you in the right direction. Feel free to reach out!</p>
          <a href="">Contact Us</a>
        </div>
      </div>
    </div>

    <div class="footer">
        <div class="footer-text">
            <p>COPYRIGHT 2017 | ALL RIGHTS RESERVED</p>
        </div>
      </div>  
</div>